// Служебные блоки

.container{
	max-width: 1200px;
	margin: 0 auto;
	@media screen and (max-width: 992px) {
		margin: 0 15px;
	}
}
html{
	font-size: 16px;
}
body{
	padding: 0; margin: 0;
}

// Меню

.menu{
	position: relative;
	
	width: 100%;
	background-color: #222;
}
.menu__container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	
	@media screen and (max-width: 992px) {
		flex-direction: column;
	}
}
.menu__item{
	display: flex;
	flex-direction: column;

	padding: 0;
	
	transition: 200ms;
	
	>.link{
		padding: 15px 40px;
		
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		font-size: 1.4rem;
		font-weight: 500;
		color: #EEE;
		text-decoration: none;
	};

	&:hover{ background-color: #333; };
	&:hover>.menu__sub-menu{height: auto; opacity: 1; z-index: 10;};
	
	@media screen and (max-width: 992px) {
		width: 100%;
		&:hover{ background-color: #222; };
	}
}
.menu__sub-menu{
	top: 58px;
	left: 0;
	position: absolute;  
	box-sizing: border-box; 
	overflow: hidden;
	opacity: .9;
	z-index: 0;
	
	height: 0;
	width: 100%;
	background-color: #333;
	
	transition: opacity 200ms ease-out;

	@media screen and (max-width: 992px) { position: static; }
}
.menu__sub-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
	padding: 15px;
}
.menu__sub-item{
	display: flex;
	flex-basis: 33.333%;
	@media screen and (max-width: 992px) { flex-basis: 50%; }
	@media screen and (max-width: 600px) { flex-basis: 100%; }

	>.link{
		padding: 10px;
		@media screen and (max-width: 992px) { padding: 15px; }
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		font-size: 1rem;
		color: #EEE;
		text-decoration: none;
	}
}